.whiteText{
    text-shadow: 1.5px 1.5px 1.5px #c94c2c;
}

.bandHeader {
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.797);
}

.icons{
    filter: drop-shadow(2px 2px 2px #c94c2c);
}

.bandContainer {
    outline-style: solid;
    outline-width: 2px;
    outline-color: white;
}