.whiteText{
    text-shadow: 2px 2px 2px #c94c2c;
}

.bandHeader {
    text-shadow: 1px 1px 1px white;
}

.icons{
    filter: drop-shadow(2px 2px 2px #c94c2c);
}

.bandContainer {
    outline-style: solid;
    outline-width: 1px;
    outline-color: white;
}