.whiteText{
    text-shadow: 1.5px 1.5px 1.5px #c94c2c;
}

.bandHeader {
    text-shadow: .5px .5px .5px white;
}

.icons{
    filter: drop-shadow(1.5px 1.5px 1.5px #c94c2c);
}

.bandContainer {
    outline-style: solid;
    outline-width: 1px;
    outline-color: white;
}