.input {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 3px #de4c28;
    color: #130253;
    background-color: #f5f5f5;
  }

.submit-button {
    display: flex;
    justify-content: flex-start;
    background-color: #de4c28;
    color:whitesmoke;
    width: 10rem;
    height: 5rem;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-top: .75rem;
    margin-bottom: 10px;
  }

  .submit-button:hover {
    text-shadow: 1px 1px 1px #130253;
}

  .contactHeader {
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.802);
}

.contactContainer {
  outline-style: solid;
  outline-width: 2px;
  outline-color: whitesmoke;
}

.error-text{
  text-shadow: 3px 3px 3px #c94c2c;
}