.input {
    padding-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px black;
    color: black;
    background-color: white;
  }

.submit-button {
    display: flex;
    justify-content: flex-start;
    background-color: white;
    color:black;
    width: 10rem;
    height: 5rem;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-top: .25rem;
    margin-bottom: 6rem;
  }