.form-group{
    padding-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: solid 1px black;
    color: #130253;
    background-color: white;
}

.post-button {
    display: flex;
    justify-content: flex-start;
    background-color: #c94c2c;
    color:white;
    width: 10rem;
    height: 4rem;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-top: .25rem;
  }

  .whiteText{
    text-shadow: 1.5px 1.5px 1.5px #c94c2c;
}

.postHeader {
    text-shadow: 1px 1px 1px white;
}

.postContainer {
    outline-style: solid;
    outline-width: 1px;
    outline-color: white;
}