.form-group{
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 3px #de4c28;
    color: #130253;
    background-color: whitesmoke;
}

.post-button {
    display: flex;
    justify-content: flex-start;
    background-color: #c94c2c;
    color:whitesmoke;
    width: 10rem;
    height: 4rem;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    margin-top: .75rem;
  }

  .post-button:hover {
    text-shadow: 1px 1px 1px #130253;
}

  .whiteText{
    text-shadow: 3px 3px 3px #c94c2c;
}

.postHeader {
    text-shadow: 1px 1px 1px whitesmoke;
}

.postContainer {
    outline-style: solid;
    outline-width: 2px;
    outline-color: whitesmoke;
}