.navText{
    text-shadow: .75px .75px .75px rgba(245, 245, 245, 0.796);
}

.navText:hover {
    text-shadow: 1.5px 1.5px 1.5px #130253;
}

/* .mainContainer {
    outline-style: solid;
    outline-width: 1px;
    outline-color:white;
} */