.section {
    grid-template-columns: 1fr 1fr 3fr 1fr;
    text-shadow: 3px 3px 3px #c94c2c;
}

.btn:hover {
    text-shadow: 1px 1px 1px #130253;
}

.venue:hover {
    text-shadow: 1px 1px 1px #130253;
}

.showsText{
    text-shadow: 3px 3px 3px #c94c2c;
}

.shows {
    text-shadow: 1px 1px 1px rgba(245, 245, 245, 0.799);
}

.showsContainer{
        outline-style: solid;
        outline-width: 2px;
        outline-color: whitesmoke;
}